@tailwind base;
@tailwind components;
@tailwind utilities;

.footer_Icons {
  @apply w-7 h-7 opacity-70 hover:opacity-100 mt-2;
}

.footer_title {
  @apply  text-2xl md:text-3xl font-semibold;
}

.input_Styles {
  @apply border-b-2 border-black bg-transparent focus:outline-none;
}

.booking_input {
  @apply bg-none border-b-2 focus:outline-none pb-1 text-black;
}

.booking_label {
  @apply flex flex-col gap-2 text-gray-500;
}
.table_data {
  @apply bg-white shadow-md px-4 py-2 text-gray-600;
}
.table_header {
  @apply px-4 py-2 text-base md:text-lg font-semibold;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
